//Переменные начертания
$boldFont: 700;
$mediumFont: 500;
$regularFont: 400;
$lightFont: 300;
//Переменные цвета
$light-grey: #E2E2E2;
$dark-grey: #666666;
$black: #333333;
$white: #FFFFFF;
$green: #4ED17B;
$green-hover: #4ED1A8;
//Переменные размеров дисплея
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$phones-small: 375px;