.body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: $regularFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-grey;
}


